<hr data-content="IMAGINE">

<form style="padding:3px;text-align:center;" onsubmit="sendEmail(); return false;">
  <label for="tlemail">news:</label>
  <input type="text" style="width:140px" name="email" id="tlemail" placeholder="your email" />
  <input type="submit" value="subscribe" />
  <br />
  <small>
   say hello! 
  </small>
</form>

<script>
function sendEmail() {
  var email = document.getElementById('tlemail').value;
  var subject = 'Subscription request to danilo\'s newsletter';
  var body = 'Hi SV3ZR!\n\nI want to subscribe to the newsletter. My email is: ' + email + '\n\nThank you.';
  window.location.href = 'mailto:odaniloluna@gmail.com?subject=' + encodeURIComponent(subject) + '&body=' + encodeURIComponent(body);
}
</script>
